*{
    font-family: Arial;
}
.container{
    margin: auto;
    background: gray;
    width: 90%;
    max-width: 1000px;
    overflow: auto;
}

.col-lg-6{
    width: 50%;
    float: left;
}

#selectIndicators{
    width: 80%;
}

.bottom-2 b {
    color: black;
}

.bottom-2 p {
    color: white;
    line-height: 100%;
    margin: 0px;
    margin-bottom: 3px;
}

.cont-metrica {
    position: relative;
    height: 300px;
    width: 100%;
    background: rgb(46, 66, 46);
}

.cont-barra {
    position: relative;
    height: 100%;
    float: left;
    width: 25px;
}

.barra {
    position: absolute;
    width: 15px;
    background: red;
    bottom: 0px;
    margin-right: 10px;
    height: 0%;
    transition: height 2s;
    cursor: pointer;
    transition: all 2s;
}

.barra:hover {
    background: rgb(29, 90, 176) !important;
}

.rotar {
    position: absolute;
    transform: rotate(90deg);
    bottom: 15px;
    font-size: 14px;
    left: -8px;
    text-align: right;
}

.hover {
    bottom: 30px;
    opacity: 0;
    transition: all 1s;
}

.barra:hover .hover {
    bottom: 90px;
    padding: 10px;
    opacity: 1;
    background: rgba(55, 68, 55, 0.667);
    color: white;
    left: -40px;
    transform: rotate(0deg);
}